.sectionItem{
    padding: $m-size;
    max-width: $sectionItemWidth;
    border-bottom: 1px solid $light-brown
}

.sectionItem__image{
    align-self: center;
}

.sectionItem__title{
    color:black;
    align-self: center;
    font-size: $title-text;
    font-weight: 550;
    margin-top: 0;
}

.sectionItem__skills{
    font-weight: 550;
    align-self: center;
    list-style: none;
    padding: 0;
}

.sectionItem__description{
    font-weight: 550;
    align-self: center;
    padding: 0;
    word-wrap: inherit;
}

.sectionItem__Link{
    text-decoration: none;
}